.price {
    font-weight: bold;
    font-size: 16px;
}

.product-description {
    color: #7f7f7f;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-img-top:hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
